@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.card {
  background-color: white;
  width: 250px;
  height: 350px;
  box-shadow: 10px 10px 10px black;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.number {
  width: 100%;
  font-size: 550%;
  text-align: center;
}

.suitTop,
.suitBottom {
  width: 100%;
  font-size: 300%;
}

.suitTop {
  display: flex;
  justify-content: flex-start;
  padding-left: 5%;
}

.suitBottom {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}
